.search{
	border-style:none;
	height:200px;
	width: 800px;
	align-content: center;
	padding: 0px;
}

#list1{
	color:red;
}
#list2{
	color:green;
}

li span {
  color: black;
}

h1{
	color:darkblue;
}
h2{
	color:darkblue;
}

.but0{
	border-color: #337ab7;
	color:#777;
	border-style:none;
	width:150px;
	padding: 15px 15px;
	font-size: 15px;

	text-align: center;
	background-color: transparent;
}

.but0:hover,
.but0:focus {
  text-decoration: none;
  color:#ACDCFF;
}
